<h1>GOLD: {{curGold}}</h1>

<style>
  .place{
    border: 1px solid black;
    display: inline-block;
    width: 150px;
  }
</style>


<div class="place">
  <h2>Farm</h2>
  <p>Earn 2-5 gold</p>
  <button (click)="someGold('farm')">Farm!</button>
</div>
<div class="place">
  <h2>Cave</h2>
  <p>Earn 7-10 gold</p>
  <button (click)="someGold('cave')">Cave!</button>
</div>
<div class="place">
  <h2>House</h2>
  <p>Earn 15-20 gold</p>
  <button (click)="someGold('house')">House!</button>
</div>
<div class="place">
  <h2>Casino</h2>
  <p>Earn or lose 100 gold</p>
  <button (click)="someGold('casino')">Casino</button>
</div>

<h2>Activity Log</h2>
<p *ngFor="let thing of activityLog">{{thing}}</p>  